*{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    margin-left: 65px;
    margin-top: 55px;
    background:url(newclock2.jpg) no-repeat;
    height: 100vh;
}

.clock{
    /* background-color: lightblue; */
    height: 500px;
    width: 630px;
    border-radius: 50%;
    
}

.hand{
    background-color: black;
    height: 100px;
    width: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: auto;
    transform-origin: bottom;
}
#hour{
    height: 100px;
    background-color: rgb(158, 158, 158);
    width: 10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    /* transform: rotate(30deg); */
}

#minute{
    height: 150px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    background-color: black;
}

#second{
    height: 200px;
    width: 4px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    background-color: rgb(255, 0, 0);
}